= render 'share/sidebar'

.mainbar
  .mainbar__header
    .mainbar__header-box
      .mainbar__header-groupname
        = @groups.name
      %span.members-name
        = "Member: #{@users}"
    .mainbar__header-edit
      = link_to edit_group_path(@groups), class: 'editbtn btn' do
        Edit

  .mainbar__main
    - @messages.each do |msg|
      %ul.mainbar__main-groupbox
        %il.groupname
          = msg.user.name
        %il.post-time
          = msg.created_at.strftime("at %I:%M%#p")   
      .mainbar__main-message
        = msg.text
      - if msg.image.present?
        = image_tag msg.image.to_s, size: '400x400', id: 'message-image'


  .mainbar__footer
    = form_with model: [@groups, @message], local: true do |f|
      %ul.mainbar__footer-box
        %li.inputbox
          = f.text_field :text, placeholder: 'type a text'
        %li.imagebtn
          = f.label :image do
            = icon('fas', 'image')
            = f.file_field :image, class: 'hidden'
      .mainbar__footer-sentBox
        = f.submit 'sent', class: 'sentBtn btn'